<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>

<h1>About Me</h1>
<h2>... and my obsessive need to challenge myself everyday.</h2>

<p>
  I have a problem. I can't stop learning. The more I learn the less knowledgeable I feel, and the more I need to learn.
</p>

<p>
   I'll track my journey here along with my love for different design aesthetics. Also I'm looking for work.
</p>
